@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Bungee Inline", cursive; */
  background-color: #d6d5c9; /*95D9C3   A4F9C8  A7FFF6  5C6F68 */
  color: white;
  margin: 0;
}

.nav {
  padding: 15px;
  background-color: #902923;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 30px;
}

.nav a :hover {
  text-decoration: underline;
}

header {
  height: 100vh;
  background-image: url("cimage.jpeg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5;
  opacity: 0.4;
}
header * {
  position: relative;
  z-index: 1;
}
header h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 10;
}
header p {
  font-size: 30px;
  margin: 0;
}

section {
  text-align: center;
  padding: 40px;
}

section p {
  margin-top: 0;
}
section h2 {
  margin-top: 0;
}

.socialcolor {
  background-color: #b9baa3;
}

.social-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-ul a {
  color: #fff;
  font-size: 40px;
  margin: 0 10px;
}

.project-tile {
  max-width: 250px;
  margin: 10px;
}

.project-tile img {
  max-width: 100%;
}

.projects-sect {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0;
}

footer {
  background-color: #902923;
  color: white;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#welcome-section {
  padding-top: 100px;
  margin-top: 0px;
  display: block;
  height: 100vh;
  text-align: center;
}
