@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto&display=swap');

* {
    box-sizing:border-box;
}

body {
    font-family: 'Bungee Inline', cursive;
 background-color:red;
}
    
    
    